.main {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    background-color: var(--white-color);
    justify-content: center;
    /* display: flex; */
    list-style-type: none;
    width: 100%;
    right: 0;
    left: 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
}

.header__sort-item--active .header__sort-link{
    color: var(--primary-color);
    border-bottom: 2px var(--primary-color) solid;
}

.header__sort-link::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    border-left: 1px solid var(--border-color);
}

.header__sort-item:last-child .header__sort-link::after{
    display: none;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
    height: var(--navbar-height);
}

.header__navbar-list {
    list-style-type: none;
    padding-left: 0;
    margin: 4px 6px;
    display: flex;
    align-items: center;
    color: var(--white-color);
}

.header__navbar-item {
    display: inline-block;
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    cursor: pointer;
    position: relative;
}

.header__navbar-user:hover  .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 20%;
    border: 1px solid rgba(0,0,0,.1);
}

.header__navbar-user-show {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 2px;
    cursor: pointer;
}

.header__navbar-user-link-profile::after {
    content: "";
    border-width: 5px;
    border-style: solid;
    border-color: var(--white-color) transparent transparent transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    right: -12px;
}

.header__navbar-user-menu {
    display: flex;
    flex-direction: column;

    position: absolute;
    z-index: 1;
    padding-left: 0;
    list-style: none;
    top: calc(100% + 6px);
    right: 0;
    width: 260px;
    border-radius: 2px;
    box-shadow: 0 1px 2px var(--border-color);
    background-color: var(--white-color);
    display: none;
    transform-origin: top right;
    animation: headerNotiGrowth ease-in .25s;
    will-change: opacity,transform;
}

.header__navbar-user-menu::before {
    position: absolute;
    z-index: 0;
    top: -22px;
    right: -1px;
    content: "";
    border-width: 12px 16px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__navbar-user-signed-as {
    display: flex;
    height: 40px;
    background-color: #f9f9f9;
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
    align-items: center;
    cursor: default;
    padding-left: 8px;
}

.header__navbar-user-name {
    margin-left: 6px;
    font-weight: 400px;
}

.header__navbar-user-logout {
    margin-left: auto;
    margin-right: 10px;
    font-weight: 100;
    color: var(--text-color);
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 100%;
    top: -16px;
    height: 20px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 10px 16px 6px;
}

.header__navbar-user-item:hover a{
    background-color: var(--hover-list-color);
    color: var(--second-color);
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__nav-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}


.header__navbar-item--strong {
    font-weight: 900;
}


.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border: #FB9086 solid 1px;
    top: 50%;
    transform: translateY(-50%);
    right: -9px;
    height: 12px;
    background-color: #FB9086;
    margin: 2px 0;
}

.header__nav-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 2px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

.header__qr {
    z-index: 1;
    position: absolute;
    width: 186px;
    background-color: var(--white-color);
    left: 0;
    top: 30px;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn 0.5s ease;
}

.header__qr::before {
    position: absolute;
    top: -10%;
    left: 0;
    content: "";
    width: 100%;
    height: 20px;
    display: block;
}

.header__navbar-item--show:hover .header__qr {
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-app {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:first-child {
    margin-left: 10px;
}

.header__qr-link:nth-child(2) {
    margin-right: 10px;
}

.header__qr-app-img {
    height: 16px;
}

/* Header notifycation */
.header__notify {
    z-index: 1;
    position: absolute;
    top: 140%;
    right: 0;
    background-color: var(--white-color);
    width: 404px;
    border: #D3D3D3 solid 1px;
    cursor: default;
    display: none;
    transform-origin: calc(100% - 30px ) top;
    animation: headerNotifyGrowth 0.25s ease;
    will-change: opacity,transform;
}

.header__notify::before {
    content: "";
    position: absolute;
    right: 2%;
    top: -11%;
    border-width: 20px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -6%;
    width: 120px;
    height: 20px;
}

.header__navbar-item--notify-show:hover .header__notify {
    display: block;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    line-height: 40px;
    font-weight: 400;
    font-size: 1.6rem;
    user-select: none;
    -webkit-user-select: none;
}

.header__notify-list {
    padding-left: 0;

}

.header__notify-item {
    background-color: #feebe8;
}

.header__notify-item--viewed {
    background-color: rgba(247, 151, 151, 0.8);
}

.header__notify-item:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.header__notify-link {
    padding: 12px;
    width: 100%;
    display: flex;
    text-decoration: none;
}

.header__notify-img {
    object-fit: contain;
    width: 48px;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {    
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.6rem;
}

.header__notify-des {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #999;
    font-weight: 400;
    margin-top: 4px;
}

.footer__notify-footer {
    text-align: center;
}

.header__notify-footer-btn {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    padding: 16px 0;
    font-weight: 400;
}


/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;     
    animation: fadeIn ease-in 0.3;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.4) ;
}

.modal__body {
    position: relative;
    margin: auto;
    background: var(--white-color);
    animation: headerNotifyGrowth  ease-in 3;
    border-radius: 5px;
}

/* Authen modal */
.auth-form {
    overflow: hidden;
    width: 500px;    
    border-radius: 5px;

}
 
.auth-form a{
    text-decoration: none;
}

.auth-form__container {
    padding:  30px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: -400;
    color: var(--text-color);
}

.auth-form__group {
    margin-bottom: 20px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    font-size: 1.6rem;
}

.auth-form__aside {
    margin-bottom: 20px;
    font-size: 1.6rem;
    text-align: center;
}

.auth-form__policy-text {
    margin-bottom: 10px;

}

.auth-form__policy-link {

}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 8px 30px;
    display: flex;
    justify-content: space-between;
}
 
.auth-form__socials--text {
    margin-left: 10px;
}

/* login  */
.auth-form__aside-login {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.auth-form__forget-password {
    color: var(--primary-color);
    margin-right: 25px;
}

.auth-form__forget-password--separate::after {
    content: "";
    display: block;
    position: absolute;
    border: var(--text-color) solid 1px;
    top: 0;
    right: 102px;
    height: 12px;
    margin: 2px 0;
}

.auth-form__help-password {
    color: var(--text-color);
}

/* header with search */

.header-with-search{
    height: var(--header-with-search);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8px;
}

.mobile-category {
    display: none;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #87afd8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link{
    background-color: #79c9bd;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link{
    background-color: #88cf81;
}

.mobile-category__list {
    display: flex;
    list-style-type: none;
    max-width: 100%;
    overflow-y: auto;

}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.5rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) *2);
    overflow: hidden;
    border-radius: 4px;
    display: block;
    text-align: center;
    width: 110px;
    font-weight: 300;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.header__mobile-search-icon {
    display: none;
    font-size: 2.6rem;    
    color: var(--white-color);
}

.nav__mobile-wrap {
    align-items: center;
    display: flex;
}

/* nav mobile */
.header__mobile-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.2);
    display: none;
    animation: fadeIn linear .2s;        
    z-index: 1;
}

.mobile-nav-icon {
    display: none;
    font-size: 2.6rem;    
    color: var(--white-color);
}

.nav__mobile {
    z-index: 2;
    display: none;
    left: 5px;
    position: fixed;
    top: var(--header-height);
}

.nav__mobile-list {
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.05);
    width: 240px;
    background-color: var(--white-color);
    list-style-type: none;
}

.nav__mobile-item {
    padding: 12px 0;

}

.nav__mobile-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #000;
    line-height: 2rem;
}

.nav__mobile-link:hover {
    color: var(--primary-color);
}

/* header logo */
.header__logo{
    height: var(--header-logo-height);
    padding: 0 50px;
    display: flex;
    align-items: center;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
}

.header__search{
    display: flex;
    align-items: center;
    height: var(--navbar-height);
    flex: 1;
    border-radius: 10px;
    background-color: var(--white-color);
}

.header__search-input-wrap {
    height: 100%;
    flex: 1;
    position: relative;
}


.header__cart{
    margin-top: 20px;
    cursor: pointer;
    padding:  0 50px;
    font-size: 25px;
    color: var(--white-color);
    position: relative;
}

.header__cart:hover .header__cart-list{
    display: block;
}

.header__cart-list{
    z-index: 1;
    position: absolute;
    display: none;
    top:calc(100% + 14px);
    background-color: var(--white-color);
    right: 24%;
    border-radius: 2px;
    width: 400px;
    /* height: 100%; */
    box-shadow: 0 1px 10px 0 rgb(0 0 0 / 20%);
    animation: fadeIn ease-in .4s;
    cursor: default;
}

.header__cart-list::before {
    content: "";
    position: absolute;
    border-width:20px 30px ;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -40px;
    right: 6px;

}

.header__cart-notice {
    position: absolute;
    padding: 1px 7px;
    top: -6px;
    right: 40px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--white-color);
}

.header__cart-list--no-cart {
    padding-top: 38px;
}

.header__cart-list-no-cart-img {
    display: none;
}

.header__cart-list-no-cart-msg {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 20px;
    display: none;
}

.header__cart-list--no-cart .header__cart-list-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.header__cart-heading {
    font-size: 1.6rem;
    padding: 5px 10px;
    user-select: none;
    color: var(--text-color);
}

/* has cart */
.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: var(--hover-list-color);
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 50vh;
    overflow-y: auto;
}


.header__cart-item-img {
    width: 48px;
    object-fit: contain;
    margin: 12px;
    border: 1px solid #eeeded;
}

.header__cart-item-body {
    display: flex;
    justify-content: flex-end;
}

.header__cart-item-quantity {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-info {
    flex: 1;
    margin-right: 12px;
}

.header__cart-item-name {
    flex: 1;
    padding-right: 16px;
    text-align: left;
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    font-weight: 500;
    margin: 8px 0;
    color: var(--text-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name a {
    text-decoration: none;
    color: var(--text-color);
}

.header__cart-item-name {
    flex: 1;
    padding-right: 16px;
    text-align: left;
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    font-weight: 500;
    margin: 8px 0;
    color: var(--text-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-item-price {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 1.2rem;
}

.header__cart-item-remove {
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    color: var(--white-color);
    cursor: pointer;
    padding: 4px;
    background-color: var(--second-color);
    border: 0 solid;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

/* xem gio hang */
.header__cart-btn-view-cart {
    float: right;
    margin: 12px;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 0 16px;
}

.header__search-selector {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}

.header__search-icon-search {
    color: var(--primary-color);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.header__search-lable {
    position: relative;
}

.header__search-option::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30px;
    top: -30%;
    right: 0;
}

.header__search-selector-option {
    cursor: pointer;
    width: 100%;
}

.header__search-selector-option:hover .header__search-option{
    display: block;
}

.header__search-option {
    z-index: 1;
    position: absolute;
    top: 155%;
    left: -5%;
    background-color: var(--white-color);
    /* width: calc(100% - 60px); */
    border: 1px solid #999;
    display: none;
    box-shadow: 0 2px 1px #ccc;
    border-radius: 4px;

}
.header__search-list {
    list-style-type: none;
}

.header__search-option-item {
    padding: 10px 10px;
    font-size: 1.6rem;

}

.header__search-option-item:hover {
    background-color: #999;
}

.header__search-option-item i {
    margin-left: 3px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-history {
    z-index: 1;
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 4px #ccc;
    display: none;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
} 

.header__search-history-heading {
    /* position: relative; */
    margin: 12px;
    font-size: 1.7rem;
    color: #999;
    font-weight: 400;
}
.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.header__search-history-item {
    height: 30px;
    padding: 0 20px;
    font-size: 1.6rem;
    line-height: 30px;
}

.header__search-history-item-link {
    text-decoration: none;
    color: var(--text-color);
}

.header__search-history-item:hover {
    background-color: #999;
    cursor: pointer;
}

.app__container {
    background-color: var(--background-primary-color);
}

.app__content {
    padding-top: 12px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    color: var(--text-color);
    font-size: 1.8rem;
    padding: 14px;
    margin-top: 0;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 1.4rem;
    font-weight: 500;
}

.category-list {
    margin-left: 16px;
    list-style: none;
}

.category-item--active .category-item-link {
    color: var(--second-color);
    position: relative;
}

.category-item--active .category-item-link::before {
    border: 8px solid;
    content: "";
    position: absolute;
    top: 50%;
    left: 6px;
    border-color: transparent transparent transparent var(--second-color);
    transform: translateY(calc(-50% - 0px));
}


.category-item {    
    padding: 8px 0;
    position: relative;
}

.category-item:last-child::before {
    display: none;
}

.category-item::before {
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 32px;
    left: 10px;
    right: 14px;
}

.category-item-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 4px 16px;
    display: block;
    position: relative;
    right: 0;
    transition: right linear 0.1s;
}

.category-item-link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Home + sort and filter */
.home-filter {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 12px 0;
    margin-left: 0;
    border-radius: 2px;
    background-color: rgba(0,0,0,.05);
}

.home-filter__sort {
    display: flex;
    align-items: center;
}

.home-filter__lable {
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 4px;
    min-width: 90px;
}

.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__list {
    position: absolute;
    z-index: 1;
    list-style: none;
    left: 0;
    right: 0;
    padding: 0;
    top: calc(100% - 12px);
    border-radius: 2px;
    background-color: var(--white-color);
    display: none;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
}

.select-input__list {
    position: absolute;
    z-index: 1;
    list-style: none;
    left: 0;
    right: 0;
    padding: 0;
    top: calc(100% - 12px);
    border-radius: 2px;
    background-color: var(--white-color);
    display: none;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
}

.select-input__link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
    padding: 12px 0 6px 12px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--second-color);
    font-weight: 600;
}

.home-filter__page-control {
    margin-right: 12px;
    border-radius: 2px;
    display: flex;
    overflow: hidden;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}


.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
    cursor: default;
}

/* home product */
.home-product {
    margin-bottom: 10px;
}

.home-product-item-wrap {
    margin-bottom: 6px;
}

.home-product-item {
    background-color: var(--white-color);
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    transition: transform linear .1s;
    will-change: transform;
    display: block;
    text-decoration: none;
}

.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 5%);
    transform: translateY(-1px);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 12px 10px 8px;
    color: var(--text-color);
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.2rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
    font-weight: 300;
}

.home-product-item__price-current {
    font-size: 1.4rem;
    color: var(--second-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.home-product-item__like {
    font-size: 1.2rem;
}

.home-product-item__like--liked i.home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__like--liked i.home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__rating {
    font-size: .6rem;
    zoom: 1.5;
    /* transform: translateY(25%); */
    cursor: pointer;
    color: #ccc;
    margin-left: auto;
}

.home-product-item__star--gold {
    color: var(--star-gold);
}

.home-product-item__sold {
    color: var(--text-color);
    margin-left: 4px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 6px;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--second-color);
    background-color: currentColor;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(40%);
}

.home-product-item__favourite i {
    font-size: 1.2rem;
    margin: 0 2px 0 5px;
    color: var(--white-color);
}

.home-product-item__favourite span {
    font-size: 1.2rem;
    margin: 0 2px 0 5px;
    color: var(--white-color);
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    color: #ffd840f0;
    background-color: currentColor;
    text-align: center;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off-percent {
    color: var(--second-color);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    position: relative;
    top: 2px;
}

.home-product-item__sale-off-label {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: var(--white-color);
}
.home-product-item__sale-off::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;
}

.home-product__pagination {
    margin: 30px 0 32px;
    padding-left: 0;
}

.footer {
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}

.footer_container {
    font-size: 1.8rem;
    margin: 16px;
}

.footer__heading {
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    list-style: none;
    font-size: 1.3rem;
}

.footer-item {
    line-height: 24px;
}

.footer-item__link {
    text-decoration: none;
    color: #737373;
    display: flex;
    align-items: center;
    padding: 4px 0;
}

.footer-item__icon {
    font-size: 1.6rem;
    margin-right: 6px;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    object-fit: contain;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.footer__download-apps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}

.footer__download-apps-link {
    text-decoration: none;
    color: transparent;
    padding: 2px 0;
}

.footer-item__link:hover {
    color: var(--second-color);
}

.footer__download-apps-img {
    height: 16px;
}

.footer__bottom {
    background-color: var(--background-primary-color);
    padding: 10px 0;
    width: 100%;
}

.footer__bottom-wrap {
    display: block;
    text-align: center;
    font-size: 1.6rem;
    color: #737373;
}